{% extends 'base.html' %}
{% block content %}
<pre>
COOKIE POLICY

Last Updated: August 25, 2024

This Cookie Policy explains how Kairat-tech.com uses cookies and similar technologies to recognize you when you visit our website at https://www.kairat-tech.com ("Website"). It provides information on what these technologies are, why I use them, and your rights to control our use of them.

In some cases, Kairat-tech.com may use cookies to collect personal information, or this information may become personal if combined with other data.
What are cookies?

Cookies are small data files placed on your computer or mobile device when you visit a website. They are widely used to make websites function, work more efficiently, and provide reporting information.

Cookies set by the website owner (in this case, Kairat-tech.com) are called "first-party cookies." Cookies set by parties other than the website owner are known as "third-party cookies." These cookies allow third-party features or functionalities (such as advertising and analytics) to be provided on or through the website. Third parties can recognize your device both when it visits our website and when it visits other websites.
Why does Kairat-tech.com use cookies?

Kairat-tech.com uses first- and third-party cookies for various reasons. Some cookies are essential for our Website to function properly and are referred to as "essential" or "strictly necessary" cookies. We also use cookies to track and target the interests of users to enhance their experience. Third-party cookies are used for advertising, analytics, and other purposes. This is explained in more detail below.
How can I control cookies?

You have the right to accept or reject cookies. You can exercise this right by setting your preferences in the Cookie Consent Manager, which allows you to select the categories of cookies you accept or reject. Essential cookies cannot be rejected, as they are necessary for providing services.

The table below describes the types of first- and third-party cookies served through the Website, along with their purposes. Note that the specific cookies served may vary depending on the specific online properties you visit.
Essential Website Cookies:

These cookies are necessary for providing you with services and access to secure areas.
Name	Purpose	Provider	Type	Expiration
First-party: csrftoken	Prevents Cross-Site Request Forgery (CSRF) attacks
Third-party: cf_clearance	Stores the proof of challenge passed

How can I control cookies on my browser?

Different browsers offer various ways to control cookies. To learn how to manage cookies in your browser, visit the help menu of the following popular browsers:
    Chrome
    Internet Explorer
    Firefox
    Safari
    Edge
    Opera

For more information about opting out of targeted advertising, visit:

    Digital Advertising Alliance
    Digital Advertising Alliance of Canada
    European Interactive Digital Advertising Alliance

How often will you update this Cookie Policy?

Kairat-tech.com may update this Cookie Policy periodically to reflect changes in the cookies we use or for other legal reasons. Please revisit this policy regularly to stay informed.
Where can I get further information?

For more information about our use of cookies and related technologies, please contact me at:
Contact Information page
</pre>

{% endblock %}
