{% extends 'base.html' %}

{% block assets %}
    {% load static %}
    <link rel="stylesheet" type='text/css' href="{% static 'intro.css' %}">
    <script type="text/javascript" src="https://unpkg.com/typed.js@2.1.0/dist/typed.umd.js"></script>
    <script type="text/javascript" src="{% static 'intro.js' %}"></script>
{% endblock %}

{% block content %}
    <!-- About Section -->
    <div id="outer">
      <div class="terminal">
        <div class="title-bar">
          <div class="software-name">
            <span>tmux </span> </br>
            <span> /tmp/secret </span>
          </div>
          <div class="buttons">
            <div class="button"></div>
            <div class="button"></div>
            <div class="button"></div>
          </div>
        </div>
        <div class="cli">
          <div id='prompt1'>
            <p class="user">kairat@fedora:~$ <span id="type1" class='command'></span></p>
            <p class = 'd-none' id='type1_response'>Welcome to my blog!</br>I post interesting topics about CS/Mathematics/Electrical Engineering.</br></p>
          </div>
          <div id='prompt2' class="d-none" >
              <p class="user">kairat@fedora:~$ <span id="type2" class='command'></span></p>
              <p id='type2_response' class = 'd-none'>The answer to the ultimate question of life, the universe, and everything is 42</p>
          </div>
        </div>
      </div>
    </div>
{% endblock %}
