Django
python-decouple
netifaces
netifaces
django-cms
djangocms-versioning
djangocms-alias
django-filer>=3.0
djangocms-file 
djangocms-picture 
djangocms-video 
djangocms-googlemap 
djangocms-snippet 
djangocms-style
djangocms-text-ckeditor
django-sekizai
django-treebeard
psycopg2
whitenoise
djangocms-frontend
django-extensions
