Django
python-decouple
netifaces
#psycopg2      NEED TO COMPILE FOR SPECIFIC OS. Differs and throws an error if just pip.
whitenoise
django-extensions
wagtail
django-taggit
django-modelcluster
django-axes[ipware]
pre-commit
black
isort
flake8
django-redis
django-silk
