{% extends 'base.html' %}

{% block content %}
{% load wagtailcore_tags %}
<div class="container mt-5">
	<h1 class="display-6 ">Blog Archive </h1>
	<div> 
		<button class="btn btn-primary" type="button" data-bs-toggle="collapse" data-bs-target="#tags" aria-expanded="false" aria-controls="All Tags">Topics</button>
		<div id="tags" class="collapse">
		    <ul style='list-style-type: none'>
			{% for tag in tags%}
			<li style='display: inline' >
			    <a href='{{request.path}}?tag={{tag}}'><span class='badge badge-primary rounded-pill bg-primary'>{{tag.name}}</span></a>
			</li>
			{% endfor %}
		    </ul>
		</div>
		{% if 'tag' in request.get_full_path%}
			<a class="btn btn-outline-secondary" href="{{ request.path }}">Reset a tag</a>
		{% endif %}
	</div>
</div>
{% for entry in page%}
<section class='container-md'>
    <h2><a href="{% pageurl entry %}">{{ entry.title }}</a></h2>
    {{ entry.TLTR|richtext }}
    <ul style='list-style-type: none'>
        {% for tag in entry.tags.all%}
        <li style='display: inline' >
            <a href='{{request.path}}?tag={{tag}}'><span class='badge badge-primary rounded-pill bg-primary'>{{tag}}</span></a>
        </li>
        {% endfor %}
    </ul>
</section>
{% endfor %}
<nav aria-label="Page navigation" class="flex">
	<ul class="pagination">
	{% if page.has_previous %}
	    <li class="page-item"><a class="page-link" href="?page={{page.previous_page_number}}{% if tag %}&tag={{tag}}{% endif %}">Previous</a></li>
	{% endif%}
	<li class="page-item page-link active disabled">
			{{page.number}} of {{page.paginator.num_pages}}
	</li>
	{% if page.has_next %}
	    <li class="page-item"><a class="page-link" href="?page={{page.next_page_number}}{% if tag %}&tag={{tag}}{% endif %}">Next</a></li>
	{% endif%}
  </ul>
</nav>
{% endblock %}
