{% extends 'base.html' %}

{% block content %}
{% load wagtailcore_tags %}
<div class="container mt-5">
	<h1 class="display-6 ">Blog Archive </h1>
	<div> 
		<button class="btn btn-primary" type="button" data-bs-toggle="collapse" data-bs-target="#tags" aria-expanded="false" aria-controls="All Tags">Topics</button>
		<div id="tags" class="collapse">
		    <ul style='list-style-type: none'>
			{% for tag in tags%}
			<li style='display: inline' >
			    <a href='{{request.path}}?tag={{tag}}'><span class='badge badge-primary rounded-pill bg-primary'>{{tag.name}}</span></a>
			</li>
			{% endfor %}
		    </ul>
		</div>
		{% if 'tag' in request.get_full_path%}
			<a class="btn btn-outline-secondary" href="{{ request.path }}">Reset a tag</a>
		{% endif %}
	</div>
</div>
{% for entry in blog_entries %}
<section class='container-md'>
    <h2><a href="{% pageurl entry %}">{{ entry.title }}</a></h2>
    {{ entry.TLTR|richtext }}
    <ul style='list-style-type: none'>
        {% for tag in entry.tags.all%}
        <li style='display: inline' >
            <a href='{{request.path}}?tag={{tag}}'><span class='badge badge-primary rounded-pill bg-primary'>{{tag}}</span></a>
        </li>
        {% endfor %}
    </ul>
</section>
{% endfor %}

{% endblock %}
