{% extends 'base.html' %}

{% block assets %}
    {% load static %}
    <link rel="stylesheet" type='text/css' href="{% static 'home_intro.css' %}">
    <script type="text/javascript" src="{% static 'home_intro.js' %}"></script>
    <script type="text/javascript" src="https://unpkg.com/typed.js@2.1.0/dist/typed.umd.js"></script>
{% endblock %}

{% block content %}
    <!-- About Section -->
    <div class="terminal-outer">
      <div class="terminal">
        <div class="title-bar">
          <div class="software-name">
            <span>tmux </span> </br>
            <span> /tmp/secret </span>
          </div>
          <div class="buttons">
            <div class="button"></div>
            <div class="button"></div>
            <div class="button"></div>
          </div>
        </div>
        <div class="cli">
          <div id='prompt1'>
            <p class="user">kairat@fedora:~$ <span id="prompt1-input" class='command'></span></p>
            <p id='prompt1-response' class = 'invisible' >Welcome to my blog!</br>I post interesting topics about CS/Mathematics/Electrical Engineering.</br></p>
          </div>
          <div id='prompt2' class="invisible" >
             <p class="user">kairat@fedora:~$ <span id="prompt2-input" class='command'></span></p>
             <p id='prompt2-response' class = 'invisible'>The answer to the ultimate question of life, the universe, and everything is 42</p>
          </div>
        </div>
      </div>
    </div>
{% endblock %}
